{% extends 'base.html' %}

{% block title %}
Stylist Booking
{% endblock title %}

{% block body %}
{% with messages=get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="container-fluid p-0">
    <!-- Stylist Details -->
<h2 class="text-center text-white bg-dark">Stylist Details</h2>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Stylist ID</th>
            <th scope="col">Email</th>
            <th scope="col">Stylist Name</th>
            <th scope="col">Service Offered</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{ stylist.sid }}</th>
            <td>{{ stylist.email }}</td>
            <td>{{ stylist.stylist_name }}</td>
            <td>{{ stylist.service_offered }}</td>
        </tr>
    </tbody>
</table>

<!-- Customers Booked -->
<h2 class="text-center text-white bg-dark mt-5">Customers Booked</h2>
<table class="table">
    <thead class="thead-light">
        <tr>
            <th scope="col">Customer ID</th>
            <th scope="col">Email</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Slot</th>
            <th scope="col">Service</th>
            <th scope="col">Time</th>
            <th scope="col">Date</th>
            <th scope="col">Department</th>
            <th scope="col">Number</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
            <tr>
                <th scope="row">{{ customer.cid }}</th>
                <td>{{ customer.email }}</td>
                <td>{{ customer.name }}</td>
                <td>{{ customer.gender }}</td>
                <td>{{ customer.slot }}</td>
                <td>{{ customer.service }}</td>
                <td>{{ customer.time }}</td>
                <td>{{ customer.date }}</td>
                <td>{{ customer.department }}</td>
                <td>{{ customer.number }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

    <!---<h2 class="text-center text-white bg-dark">Stylist Details</h2>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Stylist ID</th>
                <th scope="col">Email</th>
                <th scope="col">Stylist Name</th>
                <th scope="col">Service Offered</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">{{ stylist.sid }}</th>
                <td>{{ stylist.email }}</td>
                <td>{{ stylist.stylist_name }}</td>
                <td>{{ stylist.service_offered }}</td>
            </tr>
        </tbody>
    </table>

    <h2 class="text-center text-white bg-dark mt-5">Customers Booked</h2>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Customer ID</th>
                <th scope="col">Email</th>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Slot</th>
                <th scope="col">Service</th>
                <th scope="col">Time</th>
                <th scope="col">Date</th>
                <th scope="col">Department</th>
                <th scope="col">Number</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <th scope="row">{{ customer.cid }}</th>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.gender }}</td>
                    <td>{{ customer.slot }}</td>
                    <td>{{ customer.service }}</td>
                    <td>{{ customer.time }}</td>
                    <td>{{ customer.date }}</td>
                    <td>{{ customer.department }}</td>
                    <td>{{ customer.number }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table> -->
</div>

{% endblock body %}
